#infos-section {
    flex-direction: column;
    display: flex;
    align-items: center;

    .dropdown {
        width: 83%;

        .dropdown-title {
            border-radius: 5px;

            .dropdown-name {
                margin: 1% 0.5%;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 450px) {
    #infos-section {

        .dropdown {
            width: 100%;

            .dropdown-title {

                .dropdown-name {
                    margin: 2% 1%;
                    font-size: 1em;
                }
            }

            .dropdown-text {
                font-size: 1em;
            }
        }
    }
}