#infos-section {
    flex-direction: column;
    display: flex;
    align-items: center;

    .dropdown {
        width: 83%;

        .dropdown-title {
            border-radius: 5px;

            .dropdown-name {
                margin: 10px 5px;
                font-size: 25px;
            }
        }
    }
}