#notFound {
    flex-direction: column;
    align-items: center;
    display: flex;

    h1 {
        font-size: 20em;
        color: $main-color;
        margin: 5% 0px 5% 0px;
    }

    p {
        font-size: 2.3em;
        color: $main-color;

        br {
            display: none;
        }
    }

    a {
        font-size: 1.1em;
        height: 1.2em;
        font-weight: 400;
        border-bottom: 1px solid #000;
        margin: 8% 0px 8% 0px;
    }
}

/*Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
    #notFound {
        h1 {
            margin: 20% 0% 20% 0%;
        }

        p {
            text-align: center;
            white-space: pre-wrap;

            br {
                display: flex;
            }
        }

        a {
            font-size: 0.8em;
            margin: 20% 0% 20% 0%;
        }
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    #notFound {

        h1 {
            font-size: 15em;
        }

        p {
            font-size: 1.8em;
        }
    }
}

@media (min-width: 650px) and (max-width: 900px) {
    #notFound {

        h1 {
            font-size: 11em;
        }

        p {
            font-size: 1.3em;
        }
    }
}

@media (min-width: 450px) and (max-width: 650px) {
    #notFound {

        h1 {
            font-size: 9em;
        }

        p {
            font-size: 1.1em;
        }
    }
}

@media (max-width: 450px) {
    #notFound {
        h1 {
            font-size: 7em;
            margin: 20% 0% 20% 0%;
        }

        p {
            text-align: center;
            font-size: 1em;
            white-space: pre-wrap;

            br {
                display: flex;
            }
        }

        a {
            font-size: 0.8em;
            margin: 20% 0% 20% 0%;
        }
    }
}