.rental {
    margin: 3em;

    .carousel {
        display: flex;
        position: relative;
        height: 415px;
        align-items: center;

        .arrow {
            position: absolute;
        }

        .left {
            left: 20px;
        }

        .right {
            right: 20px;
        }

        .slide {
            border-radius: 25px;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        p {
            position: absolute;
            left: 50%;
            bottom: 0%;
            color: white;
            font-size: 18px;
            font-weight: 500;
        }
    }

    .description {
        font-weight: 500;

        .title {
            color: #FF6060;
            font-size: 36px;

        }

        .tag {
            color: white;
            background-color: #FF6060;
            font-weight: 700;
            font-size: 14px;
            border-radius: 10px;
            width: 115px;
            height: 25px;
            padding: 8px;
            margin-right: 10px;
        }
    }

}