#slideshow {
    display: flex;
    position: relative;
    height: 26em;
    align-items: center;
    margin-bottom: 2em;

    .arrow {
        position: absolute;
    }

    .left {
        left: 1.5%;
    }

    .right {
        right: 1.5%;
    }

    .slide {
        border-radius: 25px;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    p {
        position: absolute;
        left: 50%;
        bottom: 0%;
        color: white;
        font-size: 1.15em;
        font-weight: 500;
    }
}

@media (min-width: 600px) and (max-width : 800px) {
    #slideshow {
        height: 22em;

        .arrow {
            width: 7%;
        }
    }
}

@media (min-width: 450px) and (max-width : 600px) {
    #slideshow {
        height: 20em;

        .arrow {
            width: 5%;
        }
    }
}

@media (max-width: 450px) {
    #slideshow {
        height: 18em;
        margin-bottom: 1em;

        p {
            display: none;
        }

        .arrow {
            width: 4%;
        }
    }
}