.dropdown {
    width: 47%;
    margin-top: 2em;

    .dropdown-title {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        background-color: $main-color;
        justify-content: space-between;
        border-radius: 10px;
        transition: border-radius 0.5s ease-out;
        padding: 0px 10px 0px 10px;

        .dropdown-name {
            display: flex;
            color: white;
            font-weight: 600;
            font-size: 18px;
        }

        .dropdown-toggle {
            margin-right: 13px;
            transition: transform 0.3s, translateX 0.3s;
        }

        .dropdown-toggle.rotate {
            transform: rotate(-180deg);
            translateX: -10px;
        }
    }

    .dropdown-title.show {
        border-radius: 5px;
        transition: border-radius 0.5s ease-in;
    }

    .dropdown-content {
        position: relative;
        bottom: 10px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        font-size: 14px;
        border-radius: 0px 0px 5px 5px;
        background-color: $second-color;
        margin: 0px;

        .dropdown-text {
            margin: 30px 15px 30px 15px;
            list-style-type: none;
            padding-left: 0;
            font-size: 18px;
            font-weight: 300;
        }

        li {
            margin: 0;
        }
    }

    .dropdown-content.show {
        max-height: 500px;
        transition: max-height 0.5s 0.2s ease-in;
    }
}