$main-color: #FF6060;
$second-color: #F6F6F6;

@import "./components/navigation";
@import "./components/footer";
@import "./components/imageBanner";
@import "./components/appartmentCarousel";
@import "./components/rental";
@import "./components/slideShow";
@import "./components/textDropDown";
@import "./components/infos";
@import "./components/notFound";

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#root {
  width: 100%;
}

#appartment-carousel,
#banner,
#navigation,
#rental,
#infos-section,
#notFound {
  margin: 3em 6em 3em 6em;
}

@media (max-width: 768px) {}